

.container {



}


  h1 + h3 {
   margin-top: 0;
   padding-top: 0;
  }
  h1 {
   margin-bottom: 0;
   padding-bottom: 0;
  }
  h3 {
   margin: 1em 0 0 0;
   padding: 0;
  }

h4.linknames {
color: #BF5700;
font-size: 20px;


}


p.bl {
    text-transform: capitalize;
}
p.reg {


}


.sone{

  background-color: lightgrey;
  font-size: 20px;
  padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

}
